
<div class="container">

<div class="jumbotron">
  <h1 ><i class="fas fa-cloud-sun"></i>Weather Report</h1>
 
</div>
<div class="content">
  <div class="input-group input-group-lg">
    <a routerLink="/home" ></a>
    <a routerLink="/result"></a>
    </div>
    <!--<input #myinput type="text" class="form-control" name="city" placeholder="Enter your City!!" aria-describedby="sizing-addon1" [(ngModel)]="city">
  </div><br>
  <div class=btnstyle>
  <button class="btn btn-success" (click)="findWeather(myinput.value)">Search</button>
  
  </div>
  </div>
</div> -->
<router-outlet></router-outlet>
